webapps/ROOT/signin/src/main/webapp/WEB-INF/lib/web.dtd

<!ELEMENT web-app (display-name,welcome-file-list,servlet+,servlet-mapping+)>
<!ELEMENT display-name (#PCDATA)>
<!ELEMENT welcome-file-list (welcome-file)>
<!ELEMENT welcome-file (#PCDATA)>
<!ELEMENT servlet (servlet-name,servlt-class)>
<!ELEMENT servlet-name (#PCDATA)>
<!ELEMENT servlt-class (#PCDATA)>
<!ELEMENT servlet-mapping (servlet-name,url-pattern)>
<!ELEMENT url-pattern (#PCDATA)>